*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.root {
  margin: 0 auto;
  max-width: 1440px;
  padding: 2rem 1.5rem;
}
